@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Xin chao</title>
	</head>
	<body>
		<h1>Xin chao cac ban</h1>
		<p>Day la trang web dau tien cua toi</p>
		<h1>@ViewBag.Message</h1>
	</body>
</html>