<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KTGiuaKy</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header">
            <h1>QUY</h1>
            <nav>
                <a asp-controller="SinhVien" asp-action="Index">Sinh Viên</a>
                <a asp-controller="DangKy" asp-action="DangKyHocPhan">Đăng Ký</a>
                <a asp-controller="DangKy" asp-action="Cart">Giỏ Hàng</a>
                <a asp-controller="DangKy" asp-action="DaDangKy">Học Phần Đã Đăng Ký</a>
                @if (Context.Session.GetString("MaSV") != null)
                {
                    <a asp-controller="Account" asp-action="Logout">Đăng Xuất</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Đăng Nhập</a>
                }
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>